*.bgn
*.bit
*.bld
*.cmd
*.cmd_log
*.csv
*.drc
*.exe
*.fromNcd
*.gise
*.html
*.ini
*.iseconfig
*.isim
*.log
*.lso
*.map
*.mrp
*.ncd
*.netgen
*.ngc
*.ngc2edif
*.ngd
*.ngm
*._ngo
*.ngr
*.pad
*.par
*.pcf
*.planAhead_run_1
*.planAhead_run_2
*.prj
*.ptwx
*.spl
*.stx
*.sym
*.syr
*.twr
*.twx
*.txt
*.ucf
*.unroutes
*.ut
*.wdb
*.xdl
*.Xil-PlanAhead-5012-insa-11289
*.xise
*.xlnx_auto_0_xdb
*.xml
*.xmsgs
*._xmsgs
*.xpi
*.xrpt
*.xst
*.xwbt
