//! **************************************************************************
// Written by: Map O.87xd on Wed Apr 14 11:49:18 2021
//! **************************************************************************

SCHEMATIC START;
COMP "CK" LOCATE = SITE "V10" LEVEL 1;
COMP "LOAD" LOCATE = SITE "C4" LEVEL 1;
COMP "In1<0>" LOCATE = SITE "T5" LEVEL 1;
COMP "In1<1>" LOCATE = SITE "V8" LEVEL 1;
COMP "In1<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "In1<3>" LOCATE = SITE "N8" LEVEL 1;
COMP "In2<0>" LOCATE = SITE "M8" LEVEL 1;
COMP "In2<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "In2<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "In2<3>" LOCATE = SITE "T10" LEVEL 1;
COMP "RST" LOCATE = SITE "A8" LEVEL 1;
COMP "Dout1<0>" LOCATE = SITE "T11" LEVEL 1;
COMP "Dout1<1>" LOCATE = SITE "R11" LEVEL 1;
COMP "Dout1<2>" LOCATE = SITE "N11" LEVEL 1;
COMP "Dout1<3>" LOCATE = SITE "M11" LEVEL 1;
COMP "Dout2<0>" LOCATE = SITE "V15" LEVEL 1;
COMP "Dout2<1>" LOCATE = SITE "U15" LEVEL 1;
COMP "Dout2<2>" LOCATE = SITE "V16" LEVEL 1;
COMP "Dout2<3>" LOCATE = SITE "U16" LEVEL 1;
SCHEMATIC END;

